<h1>Studies</h1>

<div class="studies">

  <table width="100%" class="table table-striped">
    <thead>
        <tr>
          <th>Name</th>
          <th>Query</th>
          <th>Actions</th>
          <th width="*" align="center" class="new_study">
            <%= link_to 'New Study', new_study_path, :class => 'btn btn-primary' %>
          </th>
        </tr>
    </thead>

    <tbody>
    <% @studies.each do |study| %>
        <tr>
          <td><%= link_to study.name, study %></td>
          <td><%= link_to study.query, study %></td>
          <td><%= link_to 'Delete', study, method: :delete, data: {confirm: 'Are you sure?'} %></td>
          <td>&nbsp;</td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>