@import "bootswatch/cosmo/variables";

.studies {
  .table th, .table td {
    border-top: 0px;
  }

  th {
    &.new_study {
      text-align: right;
      vertical-align: middle;
    }
  }

  .mini-dashboard {
    background-color: $infoBackground;
    color: $infoText;
    text-align: center;

    .stats-table {
      margin-left: auto;
      margin-right: auto;
    }

    .stats {
      text-align: center;
    }
  }
}