.votes{
  .search_result {
    margin-bottom: 20px;
    .display_url {
      color: #093;
    }

    a {
      color: #12C;
      text-decoration: underline;
      font-size: medium;
    }
  }

  .ad {
    margin-bottom: 20px;
    font-size: 13px;
    .display_url {
      color: #093;
    }

    a {
      color: #12C;
      text-decoration: underline;
      font-size: medium;
    }

  }
}