<%= link_to "Jim Jones", root_path, :class => 'brand hidden-phone hidden-tablet' %>
<ul class="nav left-nav">
  <li class="link">
    <a href="#introduction" class="nav-button">Introduction</a>
  </li>
  <li class="link">
    <a href="#open_source" class="nav-button">Open Source Work</a>
  </li>
  <li class="link">
    <a href="#speaking" class="nav-button">Speaking</a>
  </li>
  <li class="link">
    <a href="#contact_me" id="contact_me" class="nav-button">Contact Me</a>
  </li>
</ul>

<ul class="nav social hidden-phone ">
  <li class="link">
    <%= link_to image_tag("github.png") + " Github Account", "http://www.github.com/aantix", target: "_blank" %>
  </li>
  <li class="link">
    <%= link_to image_tag("linkedin.png") + " LinkedIn", "http://www.linkedin.com/in/jimjones2", target: "_blank" %>
  </li>
</ul>